* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #111;
    color: white;
    overflow-x: hidden;
}

/* MENU */

.navbar {

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 25px 60px;

    z-index: 100;

}

.logo h1 {

    color: white;

    font-size: 30px;

}

.nav-links {

    display: flex;

    list-style: none;

}

.nav-links li {

    margin-left: 30px;

}

.nav-links a {

    color: white;

    text-decoration: none;

    font-size: 18px;

    transition: .3s;

}

.nav-links a:hover {

    color: #d4af37;

}


/* HERO */

.hero {

    height: 100vh;

    background: url("./img/foto2.jpg");

    background-size: cover;

    background-position: center;

    position: relative;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

    padding: 20px;

}

.overlay {

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .65);

}

.hero-conteudo {

    position: relative;

    z-index: 2;

    max-width: 900px;

    margin: auto;

    color: white;

}

.topo {

    background: #d4af37;

    padding: 10px 20px;

    border-radius: 30px;

    display: inline-block;

    margin-bottom: 25px;

    color: black;

    font-weight: bold;

}

.hero h1 {

    font-size: 60px;

    margin-bottom: 20px;

    line-height: 1.2;

}

.hero p {

    font-size: 22px;

    margin-bottom: 30px;

}

.beneficios {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 15px;

    margin-bottom: 35px;

}

.item {

    background: rgba(255, 255, 255, .1);

    padding: 15px;

    border-radius: 15px;

    backdrop-filter: blur(8px);

}

.btn {

    display: inline-block;

    background: #25D366;

    padding: 18px 35px;

    color: white;

    text-decoration: none;

    border-radius: 50px;

    font-weight: bold;

    font-size: 20px;

}

/* DEPOIMENTOS */

.secao-depoimentos {

    padding: 80px 40px;

    text-align: center;

}

.container-depoimentos {

    display: flex;

    justify-content: center;

    gap: 30px;

    flex-wrap: wrap;

}

.cartao-depoimento {

    width: 300px;

    padding: 20px;

    background: #1d1d1d;

    border-radius: 20px;

}

@media (max-width:768px) {

    .navbar {

        flex-direction: column;

        padding: 20px;

    }

    .nav-links {

        flex-direction: column;

        align-items: center;

        margin-top: 15px;

        gap: 10px;

    }

    .contact-content {

        grid-template-columns: 1fr;

    }

    .hero h1 {

        font-size: 35px;

    }

    .hero p {

        font-size: 18px;

    }

    .beneficios {

        grid-template-columns: 1fr;

    }

    .container {

        padding: 15px;

    }

    .orcamento-box {

        margin: 20px;

        padding: 20px;

    }

}